---
import BaseHead from "@/theme-simple/components/_blocks/baseHead.astro";
import Header from "@/theme-simple/components/Header.astro";
import TopBanner from "@/theme-simple/components/TopBanner.astro";
import IndexBanner from "@/theme-simple/components/IndexBanner.astro";
import Pagination from "@/theme-simple/components/layout/pagination.astro";
import Footer from "@/theme-simple/components/Footer.astro";
import { getCollection } from "astro:content";
import ContentHtml from '@/theme-simple/components/layout/content.astro'
import { config } from "@/theme-simple/config";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import "@/theme-simple/assets/styles/global.less";

const {directoryExclusion} = config.util

export async function getStaticPaths({ paginate }) {
 const  astronautPages =  await getCollection("blog");
  return paginate(astronautPages, { pageSize: 10 });
}
const { page } = Astro.props;
const {currentPage,lastPage} = page
---

<html lang="en">
  <head>
    <BaseHead subtitle={SITE_TITLE} />
  </head>
  <body>
    <div class=`h-screen`>
      <Header />
      <TopBanner title="欢迎来到我的博客" desc="这是一个热血的故事" />
	  <ContentHtml>
		<IndexBanner />
    <div class="flex justify-center pt-4  w-full">
      <div class="container">
        <div class="grid gap-4 lg:grid-cols-2 md:grid-cols-2  ">
          {
            page.data.map((item) => {
              return (
                <div class="basis-1/2 w-full bg-white dark:bg-darkBg2 dark:text-white  rounded-md p-4 h-[150px] shadow flex">
                  <div class="w-2/5 md:w-1/4 ">
                    <img
                      src={item.data.heroImage||"https://www.toubiec.cn/xiaoqing/themes/Joe/npm/img/33.jpg"} 
                      class="h-full object-cover"
                    />
                  </div>
                  <div class="w-3/5 md:w-3/4 ml-4 flex flex-col justify-between">
                    <div>
                      <div class="w-full flex">
                  <div class="flex-shrink-0 w-4/5 overflow-hidden line-clamp-1 w-full title text-lg mb-2  hover:text-sky-300 transition ease-in-out delay duration-300"  >
                    <a  href={ `/blog/${directoryExclusion(item.slug)}`} title={item.data.name}>
                      {item.data.title}
                    </a>
                  </div>
                </div>
                      <div class="w-full flex">
                        <p class="flex-shrink-0 w-4/5 overflow-hidden line-clamp-2 w-full text-sm  hover:text-sky-300 transition ease-in-out delay duration-300">
                          <a href={ `/blog/${directoryExclusion(item.slug)}`} title={item.data.name}>  {item.data.description} </a>
                          </p>
                      </div>
                    </div>
                    <div class="flex justify-between leading-8 mt-2 text-sm">
                      <div class="flex ">
                        <div class=" hover:text-sky-300 transition ease-in-out delay duration-300"> { config.util.convertTime(item.data.pubDate,'YYYY-MM-DD') } </div>
                      </div>
                        <div style="display: none;" >
                        <div class=" hover:text-sky-300 transition ease-in-out delay duration-300">分类1</div>
                      </div>
                    </div>
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
    <Pagination currentPage={currentPage} lastPage={lastPage} />
		<Footer/>
	  </ContentHtml>
    </div>
  </body>
</html>
