---
import logo from "@/theme-simple/assets/media/logo.png";
import PcSearch from "./layout/pcSearch.astro";
import MobieSearch from "./layout/mobieSearch.astro";
import MobieMenu from "./layout/mobieMenu.astro"
import { config } from "@/theme-simple/config";
const { menus } = config;
 
---

<div
  id="nav"
  class="z-50 h-16 w-full backdrop-blur-sm bg-white/30 dark:bg-black/30 flex items-center px-4 justify-center fixed transition duration-500 ease-in-out"
>
  <div class="container flex justify-between hidden md:flex">
    <div class="flex items-center">
      <div class="mr-4">
        <a href="/" title={config.site.title}>
          <img src={logo.src} class="w-[150px] h-[40px]" />
        </a>
      </div>
      <div class="flex dark:text-white">
        {
          menus.map((item) => {
            return (
              <div class="mr-4 cursor-pointer hover:text-sky-300 transition ease-in-out delay duration-300 flex items-center">
                <svg class="icon w-[20px] h-[20px] mr-2" aria-hidden="true">
                  <use xlink:href={item.icon} />
                </svg>{" "}
                <a href={item.path} title={item.name}>
                  {" "}
                  {item.name}{" "}
                </a>
              </div>
            );
          })
        }
      </div>
    </div>
    <div id="pcSearch" class="flex items-center cursor-pointer">
      <i class="iconfont blog-icon-test1 dark:text-white" style="font-size:26px"
      ></i>
    </div>
  </div>
  <div class="flex container justify-between items-center md:hidden">
    <div id="mobieMenu">
      <i
        class="iconfont blog-icon-test2 dark:text-white"
        style="font-size:26px;"></i>
    </div>
    <div class="flex items-center">
      <div class="mr-4">
        <a href="/" title={config.site.title}>
        <img src={logo.src} class="w-[150px] h-[40px]" />
      </a>
      </div>
    </div>
    <div id="mobieSearch">
      <i class="iconfont blog-icon-test1 dark:text-white" style="font-size:26px"
      ></i>
    </div>
  </div>
  <!-- pc 搜索 -->
  <PcSearch  />
  <!-- 手机搜索 -->
  <MobieSearch/>
  <!-- 手机菜单 -->
  <MobieMenu/>
</div>

<script>

const pcSearch = document.getElementById("pcSearchInput");
const mobieSearch = document.getElementById("mobieSearchInput");
const mobieMenu = document.getElementById("mobieMenuList");

document.getElementById("pcSearch")?.addEventListener("click", function (event) {
  event.stopPropagation();
  pcSearch && (pcSearch.style.display = pcSearch.style.display === "none" ? "block" : "none");
});

document.getElementById("mobieSearch")?.addEventListener("click", function (event) {
  event.stopPropagation();
  mobieSearch && (mobieSearch.style.display = mobieSearch.style.display === "none" ? "block" : "none");
  mobieMenu && (mobieMenu.style.display = "none")
});

document.getElementById("mobieMenu")?.addEventListener("click", function (event) {
  event.stopPropagation();
  mobieMenu && ( mobieMenu.style.display = mobieMenu.style.display === "none" ? "block" : "none");
  mobieSearch && (mobieSearch.style.display = "none")
});

document.addEventListener("click", function (event) {
  if (!pcSearch.contains(event.target)) {
    pcSearch.style.display = "none";
  }

  if (!mobieSearch.contains(event.target)) {
    mobieSearch.style.display = "none";
  }

  if (!mobieMenu.contains(event.target)) {
    mobieMenu.style.display = "none";
  }
});
</script>
