---
import BaseHead from "@/theme-simple/components/_blocks/baseHead.astro";
import ContentHtml from "@/theme-simple/components/layout/Content.astro";
import Header from "@/theme-simple/components/Header.astro";
import TopBanner from "@/theme-simple/components/TopBanner.astro";
import Footer from "@/theme-simple/components/Footer.astro";
import "@/theme-simple/assets/styles/global.less";
import { getCollection } from "astro:content";
import { config } from "@/theme-simple/config"; 

const posts = await getCollection("blog");
---

<html lang="en">
  <head>
    <BaseHead subtitle={config.archive.title} />
  </head>
  <body>
    <div class=`h-screen dark:bg-`>
      <Header />
      <TopBanner title={`${config.site.title} - 文章档案`} desc="如果成功有捷径，那一定是努力吧~" />
      <ContentHtml>
        <div class="flex justify-center pt-4 ">
          <div
            class="container bg-white dark:bg-darkBg2 dark:text-white  text-red shadow rounded-md p-4 content min-h-[50vh]	"
          >
            <ul>
              {
                posts.map((item: any, index) => {
                  return (
                    <li class="cursor-pointer flex justify-between my-2 hover:text-sky-300 transition ease-in-out delay  duration-300">
                      <div>
                        {" "}
                        {index} . {item.data.title}{" "}
                      </div>
                      <div> {item.data.pubDate} </div>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </div>
        <Footer />
      </ContentHtml>
    </div>
  </body>
</html>
